@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="user-info">
    <div class="btn-group">
        <Dropdown>
            <BtnContent>
                <AuthorizeView>
                    <Authorized>
                        <img src="@context.User.FindFirst(ClaimTypes.Uri)?.Value" title="@context.User.FindFirst(ClaimTypes.Email)?.Value"/>
                    </Authorized>
                    <NotAuthorized>
                        <img src="img/default-user.png"/>
                    </NotAuthorized>
                </AuthorizeView>
            </BtnContent>
            <ChildContent>
                <AuthorizeView>
                    <Authorized>
                        <DropdownListItem OnClick="@BeginSignOut">Logout</DropdownListItem>
                    </Authorized>
                    <NotAuthorized>
                        <DropdownListItem OnClick="@(e => Navigation.NavigateTo("/authentication/login"))">Login</DropdownListItem>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <DropdownListItem OnClick="@(e => Console.WriteLine("Registration should happen."))">Register</DropdownListItem>
                    </NotAuthorized>
                </AuthorizeView>
            </ChildContent>
        </Dropdown>
    </div>
</div>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/authentication/logout");
    }
}
